html{font:400 px_to_rem(14px) $fontmain;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html,body {
    text-rendering: optimizeSpeed;
    
}
body {
  color: #333;
  background: #f5f5f5;
  font-family: $fontmain;
  text-align: left;
  line-height: 1.313;
  overflow-x: hidden;
}
.container{width: 1200px;padding: 0;position: relative;}
body.show_main_menu, body.hidden {
    overflow: hidden;
    height: 100vh;
    position: relative;
}
.hide{display: none;}
a:focus{
  outline:1!important;
}
.box_category {
    margin-bottom: 20px;float: left;width: 100%;
}
.banner_mobile_300x250{background: #f4f4f4;font-size: 0;}
a {
  color: #333;
  text-decoration: none;
  outline:1;
}
a:hover{color: $colormain;text-decoration: none;}
.btn {
    font-size: 1rem;
    line-height: 20.8px;
    color: #999;
    background: #eeeeee;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;  
    &_dvc{background:$color1;color: #fff;}
}
.section {
    width: 100%;
    float: left;
    position: relative;
}
.flex{
    display: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.width_common {
    width: 100%;
    float: left;
}
.center{text-align: center;}
.navigation_scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#to_top {
    color: #fff;
    background: #f45b69;
    display: none;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    line-height: 32px;  
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 30px;
    z-index: 89;
    .icon-ns{margin: 0;color: #fff;}
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}

ul,li {
  list-style-type: none;
}
.detail_tin{
  ul{
    padding-left: 15px;
    li {
      list-style-type: disc;
    }
  }
}


input,textarea {
  font-family: arial;
  font-size: 11px;
  border: none;
  background: none;

}

input::-webkit-input-placeholder{color: #999999;}
input::-moz-input-placeholder{color: #999999;}
input::-ms-input-placeholder{color: #999999;}
input::-o-input-placeholder{color: #999999;}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.clearfix{
 clear: both;
}
.clearfix::before, .clearfix::after{
 display: table;
 content:"";
}
.row{margin-left: -10px;margin-right: -10px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding: 0 10px;}
.left {
  float: left;
}

.right {
  float: right;
}
.width_common{
  width: 100%;
  float: left;
}
.hidden320{font-size: 0;}
html {
  -webkit-text-size-adjust: none;
}
.no_wrap {
  white-space: nowrap;
}

.txt_666 {
  color: #666;
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}
.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb25{
  margin-bottom: 25px;
}
.mb30{
  margin-bottom: 30px;
}
.mb40{
  margin-bottom: 40px;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mt25{
  margin-top: 25px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}
.error{color: red;font-size: 12px;}
.bg_gray{background: #f8f8f6;}
.btn_aland{
  font: 400 px_to_rem(16px) arial;background: $colormain;
  border: 0;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;  
}
.icon{
  background: url(images/icons/full-icon.png);display: inline-block;width: 26px;height: 26px;vertical-align: middle;
  &-1{background-position: -68px -7px}
  &-2{background-position: -68px -46px}
  &-3{background-position: -68px -82px}
  &-4{background-position: -68px -118px}
  &-5{background-position: -68px -155px}
  &-6{background-position: -68px -229px}
  &-host{background-position: -5px -2px}
  &-tivi{background-position: -1px -39px;width: 40px;height: 40px;}
  &-book{background-position: -4px -86px;width: 40px;height: 40px;}
  &-new{background-position: -3px -132px;width: 40px;height: 40px;}
  &-document{background-position: -3px -178px;width: 40px;height: 40px;}
  &-download{background-position: -3px -362px}
  &-social{background-position: -80px -362px}
  &-font{background-position: -155px -363px}
  &-out{background-position: -231px -363px}
}
.fs{font-size: 0}
.thumb_big{position: relative;}
.thumb_art {
    position: relative;
    float: left;
}
.thumb_img {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
    background: #f8f8f6;
}
.thumb_img.thumb_video {
    padding-bottom: 56.25%;
}
.thumb_img.thumb_5x3 {
    padding-bottom: 60%;
}
.thumb_img.thumb_2x3 {
    padding-bottom: 138%;
}
.thumb_img.thumb_5x5 {
    padding-bottom: 100%;
}
.thumb_img img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 100%;
}
.line_8px{
  background: #eeeeee;height: 8px;width: 100%;float: left;
}
.line_4px{
  background: #eeeeee;height: 4px;width: 100%;float: left;
}
.breadcrum{
  margin-bottom: 20px;
  a{
    display: inline-block;
    &.active{color: $colormain2}
  }
}
.category{margin-bottom: 20px;float: left;width: 100%}
#pagination{
  margin: 30px 0;text-align: right;float: left;width: 100%;
    a{
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      text-align: center;
      margin: 0 2px 5px 2px;
      color: #333;
      border: 1px solid #ccc;
      font-size: 14px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;   
      &:hover,&.active{background:$colormain;color: #fff;border: 1px solid $colormain;
        .icon-ns{color: #fff}
      }
    }
    .pagination_btn{
      width: auto;
      padding: 0 5px;
    }

}
@keyframes stuckMoveDown{
  0%{transform:translateY(-100%)}100%{transform:translateY(0)}
}
@keyframes stuckMoveUp{
  0%{transform:translateY(100%)}100%{transform:translateY(0)}
}
@keyframes stuckFadeIn{
  0%{opacity:0}100%{opacity:1}
}
.art_item{
  position: relative;float: left;width: 100%;margin-bottom: 15px;
  .thumb_art{position: relative;width: 85px;margin-right: 15px;
    &>a{display: block;position: relative;}
    .tag{
      position: absolute;
      bottom: 12px;
      left: 55px;
      padding: 8px 10px;
      color: #fff;
      background-image: -moz-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(140, 2, 254, 0.8)), to(rgba(87, 178, 251, 0.6)));
      background-image: -webkit-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));
      background-image: -o-linear-gradient(left, rgba(132, 25, 253, 0.8), rgba(87, 178, 251, 0.6));      
      a{color: #fff}
    }
    .icon_thumb{
      background-image: -moz-linear-gradient(left, #0799ff #21d4fd);
      background-image: -webkit-gradient(linear, left top, right top, from(#0799ff), to(#21d4fd));
      background-image: -webkit-linear-gradient(left, #0799ff, #21d4fd);
      background-image: -o-linear-gradient(left, #0799ff, #21d4fd);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      .icon-ns{color: #fff;margin: 0;}
    }
  }
  .content{
    .title_news{font-size: 14.56px;line-height: 1.4;margin: 0 0 15px 0;font-weight: 400;}
    .down{
      background: #eee;
      font-size: 12.5px;
      margin-top: 20px;
      display: block;
      text-align: center;
      line-height: 25px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      i{margin-right: 5px;}
    }
    .description{font:400 px_to_rem(18px) arial;margin-top: 10px;line-height: 1.4;}
    .tag{
       font-size: 14px;font-family: arial;color: #999;margin-top: 5px;
       a{color: $colormain}
    }    
  }
  &.inner_section{padding: 0 15px;margin-bottom: 30px;float: left;width: 100%;
    &:after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      background: #eaeaea;
    }
  }
  &.last{
    margin-bottom: 20px;
    &:after{display:none;}
  }  
}

.art_big{
   .thumb_art{width: 100%!important;float: none;margin-bottom: 10px}
}
.art_inner{
  border-bottom: 1px solid #eee;margin-bottom: 20px;padding-bottom: 20px;
  .thumb_art{width: 228px;margin-right: 20px;} 
  .content{
    .title_news{font-size: 16px;font-weight: bold;margin-bottom: 5px;}
    span{color: #666;font-size: 12px;font-style: italic;margin: 0 3px;
      i{margin-right: 5px;}
    }
    p{font-size: 14px;line-height: 1.4;margin: 10px 0 0 0}
  }
  &.last{margin-bottom: 0;border-bottom: 0;padding-bottom: 0;} 
}
.grid{
  margin-left: -12px;font-size: px_to_rem(0px);margin-bottom: 12px;
  .art_item{
    padding-left: 12px;float: none;display: inline-block;vertical-align: top;
    .thumb_art{
      width: 100%;float: none;margin-bottom: 10px;
    }
    .content{
      width: 100%;
    }
  }
  &_2{
    .art_item{width: 50%}
  }  
  &_3{
    .art_item{width: 33.3%}
  }
  &_4{
    .art_item{width: 25%}
  } 
  &_5{
    .art_item{width: 20%}
  }   
}